html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

html {
  width: auto;
  height: auto;
  margin: 0 auto;
  padding: 0 auto; }

body {
  width: 1280px;
  height: auto;
  margin: 0 auto;
  padding: 0 auto; }

hr {
  box-shadow: 0 0 7px rgba(0, 0, 0, 0.3); }

.grid1_bloks .block1, .block2, .block3, .block4, .block5, .block6, .block7, .block8 {
  background: #f5f0dd;
  overflow: hidden; }

.block4 {
  overflow: hidden; }

/*@include h1_style*/
/*@include h2_style*/
/*@include h3_style*/
/*@include p_style*/
/*@include button_red*/
header {
  background: #f6f2f2;
  padding-top: 30px; }
  header .header_linear_menu {
    width: 100%;
    height: 89px;
    background: #313030; }
    header .header_linear_menu menu {
      margin: 0 auto;
      padding: 0 auto; }
      header .header_linear_menu menu ul {
        width: 536px;
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: flex;
        justify-content: space-between;
        margin: 0 auto; }
        header .header_linear_menu menu ul li {
          list-style: none;
          height: 89px;
          transition: background-color 1.3s linear; }
          header .header_linear_menu menu ul li:hover {
            background: #d3443f;
            border-radius: 4px;
            transform: translate(4px, -4px);
            transition-duration: 2s; }
          header .header_linear_menu menu ul li a {
            width: 95px;
            text-align: center;
            text-decoration: none;
            font-weight: bold;
            text-transform: uppercase;
            margin-top: 30px;
            display: block;
            color: #e0e0e0; }
  header .individual {
    height: auto; }
    header .individual .grid_block {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr 150px 180px;
      grid-gap: 20px; }
      header .individual .grid_block .bloks1 {
        grid-column: 1;
        grid-row: 1; }
        header .individual .grid_block .bloks1 h1 {
          font-size: 42px;
          font-weight: bold;
          text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
          margin-top: 100px; }
      header .individual .grid_block .bloks2 {
        grid-column: 1;
        grid-row: 2; }
        header .individual .grid_block .bloks2 p {
          margin-top: 32px;
          font-size: 12px;
          text-transform: uppercase;
          text-shadow: 0 0 10px rgba(0, 0, 0, 0.5); }
      header .individual .grid_block .bloks3 {
        grid-column: 1;
        grid-row: 3; }
        header .individual .grid_block .bloks3 button {
          background: #313030;
          width: 213px;
          height: 54px;
          color: #e0e0e0;
          font-weight: bold;
          border-radius: 12px;
          transition: background-color 1s linear;
          margin-bottom: 118px;
          border: 1px solid #ff0000; }
          header .individual .grid_block .bloks3 button:hover {
            background: #d3443f;
            border: none;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); }
      header .individual .grid_block .bloks4 {
        grid-column: 2;
        grid-row: 1/4; }
        header .individual .grid_block .bloks4 iframe {
          margin-top: 60px;
          width: 90%;
          height: 400px;
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); }

section {
  padding-top: 108px;
  padding-top: 108px; }
  section .portfolio {
    display: grid;
    grid-template-columns: 500px 1fr 1fr;
    grid-template-rows: 250px 250px;
    grid-gap: 10px; }
    section .portfolio .div_section1 {
      grid-column: 1;
      grid-row: 1/3; }
      section .portfolio .div_section1 h1 {
        font-size: 42px;
        font-weight: bold;
        text-shadow: 0 0 10px rgba(0, 0, 0, 0.5); }
      section .portfolio .div_section1 p {
        margin-top: 32px;
        font-size: 12px;
        text-transform: uppercase;
        text-shadow: 0 0 10px rgba(0, 0, 0, 0.5); }
      section .portfolio .div_section1 button {
        margin-top: 42px;
        border: 1px solid #ff0000;
        background: #313030;
        width: 213px;
        height: 54px;
        color: #e0e0e0;
        font-weight: bold;
        border-radius: 12px;
        transition: background-color 1s linear;
        color: #d83737; }
        section .portfolio .div_section1 button:hover {
          background: #d3443f;
          border: none;
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
          color: #fff; }
    section .portfolio .div_section2 h2 {
      margin-top: 22px;
      font-size: 30px;
      text-shadow: 0 0 10px rgba(0, 0, 0, 0.5); }
    section .portfolio .div_section2 p {
      margin-top: 20px;
      font-size: 12px;
      text-transform: uppercase;
      text-shadow: 0 0 10px rgba(0, 0, 0, 0.5); }
    section .portfolio .div_section3 h2 {
      margin-top: 22px;
      font-size: 30px;
      text-shadow: 0 0 10px rgba(0, 0, 0, 0.5); }
    section .portfolio .div_section3 p {
      margin-top: 20px;
      font-size: 12px;
      text-transform: uppercase;
      text-shadow: 0 0 10px rgba(0, 0, 0, 0.5); }
    section .portfolio .div_section4 h2 {
      margin-top: 22px;
      font-size: 30px;
      text-shadow: 0 0 10px rgba(0, 0, 0, 0.5); }
    section .portfolio .div_section4 p {
      margin-top: 20px;
      font-size: 12px;
      text-transform: uppercase;
      text-shadow: 0 0 10px rgba(0, 0, 0, 0.5); }
    section .portfolio .div_section5 h2 {
      margin-top: 22px;
      font-size: 30px;
      text-shadow: 0 0 10px rgba(0, 0, 0, 0.5); }
    section .portfolio .div_section5 p {
      margin-top: 20px;
      font-size: 12px;
      text-transform: uppercase;
      text-shadow: 0 0 10px rgba(0, 0, 0, 0.5); }

#about_product {
  padding-top: 108px;
  padding-bottom: 108px;
  text-align: center; }
  #about_product h1 {
    font-size: 42px;
    font-weight: bold;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5); }
  #about_product p {
    font-size: 12px;
    text-transform: uppercase;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    width: 531px;
    display: block;
    margin: 0 auto;
    padding-bottom: 30px; }
  #about_product hr {
    width: 300px;
    color: #ffd5d5; }
  #about_product .about_product_menu ul {
    width: 894px;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    padding: 0 auto; }
    #about_product .about_product_menu ul li a {
      width: 95px;
      text-decoration: none;
      font-weight: bold;
      text-transform: uppercase;
      margin-top: 30px;
      display: block;
      color: #4c4c4c; }
      #about_product .about_product_menu ul li a:hover {
        color: #ff2d2d;
        transform: translate(4px, -4px);
        transition-duration: 2s; }
  #about_product .about_product_menu .grid1_bloks {
    margin: 0 auto;
    padding-top: 52px;
    width: 1280px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 280px 280px;
    grid-gap: 12px; }
    #about_product .about_product_menu .grid1_bloks img {
      overflow-wrap: wrap;
      z-index: 1; }
    #about_product .about_product_menu .grid1_bloks p {
      margin-top: 50px;
      width: auto;
      text-align: center;
      display: inline-block;
      z-index: 2; }
